body {
    background-image: linear-gradient(275deg, #b2bec3, #dfe6e9)
}



li {
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    :root {
        font-size: 10px;
    }

    h2 .d-flex:first-child {
        display: flex !important;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .row {
        justify-content: center;
    }

    /* button {
        margin-top: 20px;
    } */
}