body{
    background-image: linear-gradient(to right, red, yellow);
}



li{
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
h2 .d-flex:first-child{
    display: flex!important;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.row .col-9{
	width: 100%;
}
.row{
justify-content: center;
}
button{
	margin-top: 20px;
}
